<template>
  <div>
    <Head :title="`${form.first_name} ${form.last_name}`" />
    <div class="container mx-auto px-4 pt-4">
      <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="md:col-span-12">
            <div class="px-4 sm:px-0">
              <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Edit User</h2>
            </div>
          </div>
          <div class="mt-5 md:mt-0 md:col-span-2">
            <form @submit.prevent="update">
              <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.first_name" :error="$page.props.errors.first_name" label="First name" name="first_name" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.last_name" :error="$page.props.errors.last_name" label="Last name" name="last_name" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.email_address" :error="$page.props.errors.email_address" label="Email" type="email" name="email_address" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.age" :error="$page.props.errors.age" label="Age" name="age" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.date_of_birth" :error="$page.props.errors.date_of_birth" label="Date" type="date" name="date_of_birth"/>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <label class="block text-sm font-medium text-gray-700">Time:</label>
                      <vue-timepicker format="h:mm:ss" v-model="form.current_time_at_home_address" :class="{ error: $page.props.errors.current_time_at_home_address }" @change="hideError($event, 'current_time_at_home_address')"></vue-timepicker>
                      <div v-if="$page.props.errors.current_time_at_home_address" class="form-error">{{ $page.props.errors.current_time_at_home_address }}</div>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.home_phone" :error="$page.props.errors.home_phone" label="Home Phone" type="tel" name="home_phone" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.mobile_phone" :error="$page.props.errors.mobile_phone" label="Mobile Phone" type="tel" name="mobile_phone" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.street_address" :error="$page.props.errors.street_address" label="Street Address" name="street_address" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.city" :error="$page.props.errors.city" label="City" name="city" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.state" :error="$page.props.errors.state" label="State" name="state" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <text-input v-model="form.zip_code" :error="$page.props.errors.zip_code" label="Zip Code" name="zip_code" />
                    </div>
                  </div>
                  <div class="px-4 py-3 text-right sm:px-6">
                  <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button" @click="goToHome">Back</button>&nbsp;&nbsp;&nbsp;
                    <loading-button :loading="form.processing" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">Update</loading-button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style type="text/css">
  .vue__time-picker{
    width: 100%;
  }
  .vue__time-picker input.vue__time-picker-input{
    margin-top: 0.25rem;
    height: auto;
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    width: 100%;
  }
  .vue__time-picker.error input.vue__time-picker-input{
    border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important;
  }
</style>
<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '../../Components/Layout'
import TextInput from '../../Components/TextInput'
import LoadingButton from '../../Components/LoadingButton'
import VueTimepicker from 'vue3-timepicker'

export default {
  layout: Layout,
  components: {
    VueTimepicker,
    Head,
    Link,
    LoadingButton,
    TextInput,
  },
  props: {
    user: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        id:this.user.id,
        current_time_at_home_address:this.user.current_time_at_home_address,
        first_name: this.user.first_name,
        last_name: this.user.last_name,
        email_address:this.user.email_address,
        date_of_birth:this.user.date_of_birth,
        age:this.user.age,
        home_phone:this.user.home_phone,
        mobile_phone:this.user.mobile_phone,
        email_address:this.user.email_address,
        street_address:this.user.street_address,
        city:this.user.city,
        state:this.user.state,
        zip_code:this.user.zip_code
      }),
    }
  },
  methods: {
    update() {
      this.form.put(`/update/${this.user.id}`)
    },
    hideError($el, name){
      if($el.displayTime && name){
        this.$page.props.errors[name] = '';
      }
    },
    goToHome(){
      this.$inertia.get(`/`); 
    }
  },
}
</script>
