<template>
  <div>
    <Head title="Users" />
    <div class="container mx-auto px-4 pt-4">
      <div class="max-w-7xl mx-auto lg:flex lg:items-center lg:justify-between">
        <h1 class="mb-0 text-3xl font-bold">Users</h1>
      </div>
      <div class="relative rounded-xl overflow-auto">
        <div class="shadow-sm overflow-hidden my-8">
          <table class="border-collapse border-b bg-gray-800 table-auto w-full text-sm">
            <thead>
              <tr>
                <th class="text-sm font-medium text-white px-2 py-4">Name</th>
                <th class="text-sm font-medium text-white px-2 py-4">Email</th>
                <th class="text-sm font-medium text-white px-2 py-4">Age</th>
                <th class="text-sm font-medium text-white px-2 py-4">DOB</th>
                <th class="text-sm font-medium text-white px-2 py-4">Home Phone</th>
                <th class="text-sm font-medium text-white px-2 py-4">Mobile Phone</th>
                <th class="text-sm font-medium text-white px-2 py-4">Address</th>
                <th class="text-sm font-medium text-white px-2 py-4">City</th>
                <th class="text-sm font-medium text-white px-2 py-4">State</th>
                <th class="text-sm font-medium text-white px-2 py-4">Zip Code</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody class="bg-white border-b">
              <tr v-for="user in users" :key="user.id">
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">{{ user.first_name }} {{ user.last_name }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ user.email_address }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.age }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.date_of_birth }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.home_phone }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.mobile_phone }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.street_address }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.city }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.state }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">{{ user.zip_code }}</td>
                <td class="w-px border-b border-slate-100 dark:border-slate-700 text-slate-500 dark:text-slate-400">
                  <Link class="flex items-center px-2" :href="`/edit/${user.id}`" tabindex="-1">
                    <icon name="edit" />
                  </Link>
                </td>
                <td class="w-px border-b border-slate-100 dark:border-slate-700 text-slate-500 dark:text-slate-400">
                  <Link class="flex items-center px-2" @click="destroy(user.id)" tabindex="-1">
                    <icon name="trash" />
                  </Link>
                </td>
              </tr>
              <tr v-if="users.length === 0">
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400 text-center" colspan="12">No users found.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template> 

<script>

import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '../../Components/Layout'
import Icon from '../../Components/Icon'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'

export default {
  layout: Layout,
  components: {
    Head,
    Link,
    Icon
  },
  props: {
    users: Array,
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/users', pickBy(this.form), { preserveState: true })
      }, 150),
    },
  },
  methods: {
    destroy(id) {
      if (confirm('Are you sure you want to delete this user?')) {
        this.$inertia.delete(`/delete/${id}`)
      }
    }
  },
}
</script>