<template>
  <div>
    <label v-if="label" class="block text-sm font-medium text-gray-700" :for="id">{{ label }}:</label>
    <input :id="id" ref="input" class="form-input mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" :class="{ error: error }" :type="type" :value="modelValue" @blur="hideError($event.target, name)" @input="$emit('update:modelValue', $event.target.value)" :name="name" />
    <div v-if="error" class="form-error">{{ error }}</div>
  </div>
</template>

<script>
import { v4 as uuid } from 'uuid'

export default {
  props: {
    id: {
      type: String,
      default() {
        return `text-input-${uuid()}`
      },
    },
    type: {
      type: String,
      default: 'text',
    },
    error: String,
    label: String,
    name: String,
    modelValue: null,
  },
  emits: ['update:modelValue'],
  mounted() {
    
  },
  methods: {
    hideError($el, name){
      if($el.value && name){
        this.$page.props.errors[name] = '';
      }
    }
  }
}
</script>
